.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(256, 256, 256, 0.5);
  color: black;
  border: 1px solid rgba(256, 256, 256, 0.5);
  border-radius: 50%;
  cursor: pointer;
  min-height: 43px;
  min-width: 43px;
}

.prev {
  left: calc(4% + 1px);
}

.next {
  right: calc(4% + 1px);
}
